  *{
        background-color: rgb(251, 245, 239);
    }

   h1{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
   }

   img{
    margin-top: 50px; 
    height: 300px;
    width: 300px;   
    display:block;
   }



   h2{
    font-size: small;
   }

   #coração{
    margin: 0;
    padding: 0;
    height: 100px;
    width: 100px;
   }
   
   #gato{
    margin-top: 50px; 
    height: 300px;
    width: 300px;   
    display:block;
   }

   

  
